@import 'tailwindcss';


:root {
  --gray-10:  #FDFDFD;
  --gray-20:  #FBFBFB;
  --gray-30:  #F8F8F8;
  --gray-40:  #F5F5F5;
  --gray-50:  #F2F2F2;
  --gray-60:  #EEEEEE;
  --gray-70:  #EAEAEA;
  --gray-80:  #E6E6E6;
  --gray-90:  #EAEAEA;
  --gray-100: #DEDEDE;
  --gray-200: #CFCFCF;
  --gray-300: #B1B1B1;
  --gray-400: #949494;
  --gray-500: #777777;
  --gray-600: #5E5E5E;
  --gray-700: #444444;
  --gray-800: #2C2C2C;
  --gray-900: #121212;

  --red: #FF4343;
  --blue: #2769F6;

  --text-xs: 12px;     /* 작은 글씨 */
  --text-base: 14px;   /* 기본 글씨 */
  --text-lg: 20px;     /* 강조 글씨 */
}


*, *::before, *::after {
  box-sizing: border-box;
}


html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}


@layer utilities {
  .bg-gradient-blue {
    background: linear-gradient(180deg, #2769F6 0%, #FFFFFF 60%);
  }
  .bg-gradation-pink {
    background: linear-gradient(270deg, #EB008B 0%, #5B038C 100%);
  }

  .text-gradient-pink {
    background-image: linear-gradient(270deg, #EB008B 0%, #5B038C 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  
}
